.venv
.venv/
.venv/**
**/Jenkinsfile
deployment/ansible
deployment/ansible/
deployment/ansible/**
deployment/terraform
deployment/terraform/
deployment/terraform/**
**/*.egg-info
**/*.egg-info/
**/*.egg-info/**
**/build
**/build/
**/build/**
calc/dist
calc/dist/
calc/dist/**
