---

apiVersion: v1
kind: Secret
metadata:
  name: calc-app-tls-secret
  namespace: default
type: kubernetes.io/tls
data:
  tls.crt: {{ tls_secret_b64_crt | quote }}
  tls.key: {{ tls_secret_b64_key | quote }}